*{
	padding: 0;
	margin: 0;
}
.wrapper{
	width: 1800px;
	height: 800px;
	position: absolute;
	background: lightpink;
	border: 1px solid white;
	left: 50%;
	top: 50%;
	margin-left: -950px;
	margin-top: -500px;

}
.show{
	width: 500px;
	height: 700px;
	overflow: auto;
	border-bottom: 1px dotted #ccc;
}
.input1,.input2{
	width: 250px;
	height: 99px;
	position: absolute;
}
.input1 input,.input2 input{
	width: 200px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -20px;
	border: 1px solid black;
	font-size: 20px;
	color: #ccc;
}
.input1{
	left: 0px;
	bottom: 0px;
	border-right: 1px dotted #ccc;
}
.input2{
	float: right;
	left: 250px;
	bottom: 20px; 
}
.input2 #sure{
	width: 80px;
	height: 30px;
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -40px;
}
.button{
	width: 600px;
	height: 300px;
	position: absolute;
	left: 500px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	top: 0px;
}
.button button{
	cursor: pointer;	
	width: 150px;
	height: 50px;
	margin-top: 35px;
	margin-left: 25px;
	border-radius: 10px;
}
.wrapper #math{
	width: 700px;
	height: 800px;
	position: absolute;
	right: 0;
	top: 0;
}
.wrapper #math #showresult1{
	float: left;
	width: 350px;
	height: 700px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	position: absolute;
	overflow: auto;
}
.wrapper #math #showresult2{
	float: right;
	width: 350px;
	height: 700px;
	border-bottom: 1px solid #ccc;
	overflow: auto;
}
.wrapper #math #showresult1 .arithmetic, .wrapper #math #showresult2 .arithmetic{
	font-size: 20px;
	text-align: center;
	width: 250px;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
}	
.wrapper #math .queyeP{
	display: inline-block;
	width: 100px;
	height: 40px;
	position: absolute;	
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
}	
.wrapper #math input{
	position: absolute;
	bottom: 25px;
	left: 70px;
	width: 400px;
	height: 40px;
	font-size: 20px;
	border: 1px solid black;
	color: #ccc;
}
.wrapper #math button{
	width: 80px;
	height: 40px;
	position: absolute;
	bottom: 25px;
	right: 125px;
	border-radius: 10px;
}
