<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
<div id="app">
    <ul>
        <!--<li v-for="val in arr">-->
            <!--{{val}},{{index+1}}-->
        <!--</li>-->
    </ul>
    //Vue提供的特殊标签
    <template v-for="n in 2">
        <p></p>
        <h1></h1>
        <p></p>
        <span></span>
    </template>
</div>
</body>
<script src="vue.js"></script>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            arr:[1,2,3,4,5]
        },
        methods:{}

    });

</script>
</html>