/*css重置开始*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
li{
    list-style: none;
}
/*css重置结束*/
.wrapper{
    width: 1140px;
    height: 100%;
    /*background: #cccccc;*/
    margin:0 auto;
}
/*header开始*/
#header{
    background: url(../img/banner33.jpg) no-repeat center;
    height: 250px;
}
#login a:hover{
    text-decoration: underline;
    border-bottom: 1px solid #fff;
}
#login,#header h1{
    color: #fff;
    width: 380px;
}
#login a{
    color: #fff;
}